         </main>
      </div>
      <hr class="divider"/>
      <div class="container">
         <footer class="py-2 mb-4">
            <span class="logo"><a href="https://mill.pt"><img src="<%= rootPath %>/mill_logo_footer.png"></a></span>
            <span class="license">The MILL Wiki is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License.</a></span>
         </footer>
      </div>
   </body>
</html>