         </main>
      </div>
      <hr class="divider"/>
      <div class="container">
         <footer class="py-2 mb-4">
            <span class="logo"><a href="https://mill.pt"><img src="<%= rootPath %>/mill_logo_footer.png"></a></span>
            <span class="logo"><a href="http://creativecommons.org/licenses/by/4.0/"><img src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a></span>
         </footer>
      </div>
   </body>
</html>