<!doctype html>
<html lang="en" data-bs-theme="auto">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="MILL - Makers in Little Lisbon">
      <title>MILL Wiki</title>
      <link rel="canonical" href="https://wiki.mill.pt">
      <link rel="stylesheet" href="<%= rootPath %>/style.css">
      <link rel="stylesheet" href="<%= rootPath %>/bootstrap.min.css">
   </head>
   <body class="bg-light">
      <div class="container">
         <header class="d-flex flex-wrap text-bg-dark justify-content-left py-2 my-3">
            <!--
            <div class="d-flex align-items-left mb-3 mb-md-0 me-md-auto">
            <span class="fs-4"></span>
            </div>
             -->
         </header>
         <main class="main-container">