<!doctype html>
<html lang="en" data-bs-theme="auto">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="MILL - Makers in Little Lisbon">
      <title>MILL Wiki</title>
      <link rel="canonical" href="https://wiki.mill.pt">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap" rel="stylesheet">
      <link rel="preload" href="<%= rootPath %>/style.css">
      <link rel="stylesheet" href="<%= rootPath %>/bootstrap.min.css"><link rel="preconnect" href="https://fonts.googleapis.com">
   </head>
   <tbody>
      <div class="container">
         <header>
            <div class="row py-2 my-3">
               <div class="col col-4">
                  <span class="logo"><a href="https://mill.pt"><img src="<%= rootPath %>/mill_logo.png"></a></span>
               </div>
               <div class="col col-4"></div>
               <div class="col col-4 home-link">
                  <span><a href="<%= rootPath %>"><h3>Wiki Home</h3></a></span>
               </div>
            </div>
         </header>
      </div>
      <hr class="divider"/>
      <div class="container">
         <main class="main-container my-5">